name: Build & Push Frontend
 
on:
    push:
        branches: [staging]
 
jobs:
    build-and-push:
        runs-on: ubuntu-latest
 
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
 
            - uses: docker/setup-buildx-action@v2
 
            - uses: docker/login-action@v2
              with:
                  username: welannn
                  password: ${{ secrets.DOCKER_HUB_TOKEN }}
 
            - name: Set docker image tag
              id: vars
              run: |
                  if [ "${GITHUB_REF##*/}" = "main" ]; then
                    echo "TAG=production" >> $GITHUB_OUTPUT
                  else
                    echo "TAG=staging" >> $GITHUB_OUTPUT
                  fi
 
            - uses: docker/build-push-action@v4
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: |
                      welannn/urban-ko-admin:${{ steps.vars.outputs.TAG }}
                      welannn/urban-ko-admin:${{ github.sha }}
